<div class="greetings center">
  <div>
    <h1>{{ 'Angular 5 Library Starter Kit' | taggify }}</h1>
    <a class="neat shadowy" href="https://github.com/zurfyx/angular-library-starter-kit" rel="noopener" target="_blank">Get your own Angular library published in few minutes</a>
  </div>
  <form-render></form-render>
</div>